<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ricardo Mejolaro</title>

  <link rel="stylesheet" href="/public/css/styles.css">

</head>

<body>
  <header>
    <div class="links">
      <a href="../views/index.html">Sobre </a>
      <span>|</span>
      <a href="/views/portifolio.html">Portifólio</a>
      <span>|</span>
      <a href="/views/contato.html">Contato</a>
    </div>

    <div class="links-icons-socials">
      <a href="https://github.com/RicardoMejolaro" target="_blank">
        <img src="/public/assets/github.png" alt="Github">
      </a>
      <a href="https://www.linkedin.com/in/ricardo-mejolaro/" target="_blank">
        <img src="/public/assets/linkedin.svg" alt="linkedin">
      </a>
      <a href="/public/assets/whatsapp.png" target="_blank">
        <img src="/public/assets/whatsapp.png" alt="WhatsApp">
      </a>
      <a href="mailto:ricardo.mejolaro@gmail.com">
        <img src="/public/assets/gmail.png" alt="Gmail">
      </a>
    </div>
  </header>

  <div id="wrapper">
    <h1>Contato</h1>
    <div class="contact">
      <form action="#">
        <div class="field">
          <label for="name">Nome:</label>
          <input type="text" name="name" id="name" placeholder="Digite seu nome">
        </div>

        <div class="field">
          <label for="email">Email:</label>
          <input type="text" name="email" id="email" placeholder="Digite seu melhor email">
        </div>

        <div class="field-area">
          <label for="comments">Observações:</label>
          <textarea name="comments" id="comments" cols="30" rows="10" placeholder="Digite seus comentários"></textarea>
        </div>

        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>


</body>

</html>