<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ecoleta</title>

  <link rel="stylesheet" href="/public/css/styles.css">

</head>

<body>
  <header>
    <div class="links">
      <a href="../views/index.html">Sobre </a>
      <span>|</span>
      <a href="/views/portifolio.html">Portifólio</a>
      <span>|</span>
      <a href="/views/contato.html">Contato</a>
    </div>

    <div class="links-icons-socials">
      <a href="https://github.com/RicardoMejolaro" target="_blank">
        <img src="/public/assets/github.png" alt="Github">
      </a>
      <a href="https://www.linkedin.com/in/ricardo-mejolaro/" target="_blank">
        <img src="/public/assets/linkedin.svg" alt="linkedin">
      </a>
      <a href="/public/assets/whatsapp.png" target="_blank">
        <img src="/public/assets/whatsapp.png" alt="WhatsApp">
      </a>
      <a href="mailto:ricardo.mejolaro@gmail.com">
        <img src="/public/assets/gmail.png" alt="Gmail">
      </a>
    </div>
  </header>

  <div id="wrapper" class="video">
    <h1>Site Ecoleta</h1>
  </div>

  <section class="video">

    <div class="card">
      <div class="card-video-container">
        <img src="/public/assets/ecoleta.gif" alt="Site Ecoleta">
      </div>
      <div class="card-content">
        <p>Site Ecoleta</p>
      </div>
      <div class="description">
        <p>Projeto é um site de cadastro e busca de instituições de coleta seletiva.</p>
      </div>
      <div class="list-tecnologies">
        <h3>Tecnologias Utilizadas:</h3>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>NodeJS</li>
          <li>Express</li>
          <li>Template Engine Nunjucks</li>
          <li>SQLite3</li>
        </ul>
      </div>
    </div>

  </section>

</body>

</html>