<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Ricardo Mejolaro</title>

  <link rel="stylesheet" href="/public/css/styles.css">

</head>

<body>
  <header>
    <div class="links">
      <a href="../views/index.html">Sobre </a>
      <span>|</span>
      <a href="/views/portifolio.html">Portifólio</a>
      <span>|</span>
      <a href="/views/contato.html">Contato</a>
    </div>

    <div class="links-icons-socials">
      <a href="https://github.com/RicardoMejolaro" target="_blank">
        <img src="/public/assets/github.png" alt="Github">
      </a>
      <a href="https://www.linkedin.com/in/ricardo-mejolaro/" target="_blank">
        <img src="/public/assets/linkedin.svg" alt="linkedin">
      </a>
      <a href="/public/assets/whatsapp.png" target="_blank">
        <img src="/public/assets/whatsapp.png" alt="WhatsApp">
      </a>
      <a href="mailto:ricardo.mejolaro@gmail.com">
        <img src="/public/assets/gmail.png" alt="Gmail">
      </a>
    </div>
  </header>

  <div id="wrapper">
    <img src="/public/assets/meu-avatar.jpg" alt="Imagem de Ricardo Mejolaro">
    <h1>Ricardo Mejolaro</h1>
    <h2>Desenvolvedor Fullstack Júnior</h2>
    <p>
      Formado em Sistemas de Informação, programador e estudante das principais 
      tecnologias do universo WEB. Com hard e soft skills sempre em evolução.
    </p>

  </div>

  <div class="skills">

    <div class="hard-skills">
      <h3>Hard Skills:</h3>
      <div class="links-icons-tecnologies">
        <div>
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML/" target="_blank">
            <img src="/public/assets/html-5.png" alt="HTML5">
          </a>
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS/" target="_blank">
            <img src="/public/assets/css3.png" alt="CSS3">
          </a>
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/" target="_blank">
            <img src="/public/assets/javascript.png" alt="Javascript">
          </a>
        </div>

        <div>
          <a href="https://nodejs.org/en/docs/" target="_blank">
            <img src="/public/assets/node.png" alt="NodeJS">
          </a>
          <a href="https://pt-br.reactjs.org/" target="_blank">
            <img src="/public/assets/react.png" alt="ReactJS">
          </a>
          <a href="https://reactnative.dev/" target="_blank">
            <img src="/public/assets/react-native.png" alt="ReactNative">
          </a>
        </div>
        <div>

        </div>
      </div>
    </div>

    <div class="soft-skills">
      <h3>Soft Skills:</h3>
      <ul>
        <li>Empatia.</li>
        <li>Comunicação.</li>
        <li>Trabalho em equipe.</li>
        <li>Paciência.</li>
        <li>Mente aberta</li>
        <li>Resolução de problemas</li>
        <li>Responsabilidade</li>
        <li>Gerenciamento de tempo</li>
        <li>Gostar de ensinar</li>
        <li>Sempre querendo aprender algo novo.</li>
      </ul>

    </div>

  </div>

  <h3 class="title">Instituições de ensino: </h3>

  <div class="schools">
    <ul>
      <li>Universidade de Mogi das Cruzes - UMC</li>
      <li>Rocketseat</li>
      <li>Labenu</li>
    </ul>
  </div>

</body>

</html>