body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
    box-sizing: border-box;
}

.green-background {
    background-color: green;
    display: grid;
    justify-items: center;
    align-items: center;

}

.yellow-background {
    background-color: yellow;
    display: grid;
    justify-items: center;
    align-items: center;

}

.pink-background {
    background-color: fuchsia;
    display: grid;
    justify-items: center;
    align-items: center;

}

.blue-background {
    background-color: blue;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 30vh;
}

.red-background {
    background-color: red;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 15vh;
}

.lightgreen-background {
    background-color: lightgreen;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 15vh;
}

.purple-background {
    background-color: purple;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 5vh;

}

#main-container {
    display: grid;
    grid-template-rows: 5vh 60vh 30vh 5vh;
}

#top-container {
    display: grid;
    grid-template-columns: 25% 75%;
}

#middle-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}