* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
}

div {
    border: 1px solid black;
    min-height: 10vh;
}

#main-container {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr 1fr 1fr;
    gap: 10px;
    border: none;
    margin: 0 auto;
    max-width: 100vw;
}

.container-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 10px;
    border: none;
}

.container-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 10px;
    border: none;
}

.container-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 10px;
    border: none;
    max-height: 30vh;
}

#first-block {
    background-color: red;
    max-height: 10vh;
}

.blue-block,
.yellow-block,
.green-block,
.black-block,
.white-block {
    background-color: blue;
    display: grid;
    align-items: center;
    justify-content: center;
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
}

.white-block {
    background-color: white;
}

.one {
    order: 1;
}
.two {
    order: 2;
}
.three {
    order: 3;
}
.four {
    order: 4;
}
.five {
    order: 5;
}
.six {
    order: 6;
}
.seven {
    order: 7;
}
.eight {
    order: 8;
}
.nine {
    order: 9;
}
.ten {
    order: 10;
}
.eleven {
    order: 11;
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    #main-container {
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .container-one {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .container-two {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .container-three {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media screen and (min-device-width : 421px) and (max-device-width : 800px) {
    .container-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: -55px;
    }

    .green-block {
        grid-column: 1 / 3;        
    }

    .container-three {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container-three .eleven {
        grid-column: 1 / 3; 
    }
}