<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F4Bank</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <img src="/assets/img/f4bank.png" alt="Logo F4Bank" class="logo">
        <nav>
            <a href="#" class="active">Início</a>
            <a href="#">Conta Digital</a>
            <a href="#">Cartão de Crédito</a>
            <a href="#">Rewards</a>
            <a href="#">Empréstimo</a>
            <a href="#">Conta PJ</a>
            <a href="#">Sobre Nós</a>
            <a href="#">Carreiras</a>
            <a href="#" class="active">Login <img class="active" src="/assets/img/arrow.svg" alt="Cadastrar"></a>
        </nav>
        <button class="button">Quero ser F4Bank</button>
    </header>
    <article>
        <div>
            <h1>Ser F4Bank é reinventar sua vida financeira</h1>
            <h3>Conta com rendimento acima da poupança, cartão de crédito sem anuidade e o melhor: resolva tudo pelo
                app.</h3>
            <button class="button" id="button">Quero ser F4Bank</button>
        </div>
        <img src="/assets/img/f4bank.png" alt="Imagem F4Bank">
    </article>
    <main>
        <div class="all-width">
            <div>
                <h2>Pix: um novo jeito de fazer transferências e pagamentos</h2>
                <a href="#">Saiba como funciona -></a>
            </div>
        </div>

        <section>
            <div class="column-one">
                <a href="#">Conta do F4Bank</a>
                <h2> Nossa conta digital com mais de 20 milhões de clientes em todo o Brasil.</h2>
                <a href="#">Saiba como funciona -></a>
            </div>
            <div>
                <img src="/assets/img/app.jpg" alt="Imagem App">
            </div>
        </section>

        <section class="credit-card">
            <div class="column-one">
                <a href="#">Cartão de Crédito</a>
                <h2>Pode chamar ele de laranjinha. Além disso, pode chamar ele de moderno, gratuito e prático também.</h2>
                <a href="#">Saiba como funciona -></a>
            </div>
            <div>
                <img src="/assets/img/card.jpg" alt="Imagem Cartão de crédito">
            </div>
        </section>

    </main>

</body>

</html>